@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333333;
  font-size: 0.75rem;
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333333;
}

li {
  list-style: none;
}

/* ヘッダー */
header {
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: solid 1px #c3c3c3;
  margin-bottom: 60px;
}

header .logo {
  width: 109px;
  line-height: 1px;
  margin: 36px auto;
}
 
header .logo a {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

nav .menue,
nav .login {
  display: flex;
}

nav .menue li {
  margin-right: 12px;
}

nav .login li {
  margin-left: 12px;
}

/* main */
.main {
  display: flex;
  justify-content: space-between;
}

.main .photo {
  max-width: 400px;
  flex-shrink: 0;
  margin-right: 60px;
}


.info h1 {
  padding: 15px 0;
  font-size: 1rem;
}

.info p {
  margin: 20px 0;
  line-height: 2;
}

.table-order {
 width: 100%;
 margin-bottom: 20px;
}

.table-order .color,
.table-order .size {
  width: 20%;
}

.table-order .quantity {
  width: 60%;
}

.table-order td {
  border-top: solid 1px #c3c3c3;
}

.table-order th,
.table-order td {
  border-right: solid 1px #c3c3c3;
  font-weight: normal;
  text-align: center;
  padding: 10px;
}

.table-order th:last-child,
.table-order td:last-child {
  border-right: none;
}

.table-order select {
  width: 100%;
  border: solid 1px #c3c3c3;
  padding: 0 10px;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

.cart-btn {
  width: 100%;
  display: block;
  line-height: 1;
  padding: 18px 0;
  margin-bottom: 30px;
  background: #4b4b4b;
  color: #ffffff;
  text-align: center;
}


.table-size {
  width: 100%;
  border-top: solid 1px #c3c3c3;
  border-left: solid 1px #c3c3c3;
  margin-bottom: 60px;
}

.table-size .size {
  width: 10%;
  background: #ecebeb;
}

.table-size th,
.table-size td {
  width: 30%;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  border-bottom: solid 1px #c3c3c3;
  border-right: solid 1px #c3c3c3;
}

.table-size th {
  background: #ecebeb;
}

/* フッター */
footer p {
  text-align: center;
  padding: 10px 0;
}

/* レスポンシブ */
@media screen and (max-width: 896px) {

  /* ヘッダー */
  header .logo {
    margin-bottom: 30px;
  }

  header {
    border-bottom: none;
    
  }
  
  nav {
    overflow-x: scroll;
    padding-bottom: 5px;
  }

  /* メイン */
  .main {
    flex-direction: column;
  }

  .main .photo {
    max-width: 100%;
    margin: 0 0 10px 0;
  }

  .main .info {
    padding: 0 16px;
  }
}

